<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Ari is excited to run with you!</h1>
    <p>She'll send you updates about upcoming runs.</p>
    <p>Hope to see you soon!</p>
    <!-- <img src="https://dmv-running-tours.herokuapp.com/assets/ari-c2a3d13907103b967e29e24d17a912d6bcc96a0db040220bd0490380cad56369.jpg"> -->
  </body>
</html>