<p class="bday_message">You've won...</p>
<p class="bday_message">a really cool...</p>
<p class="bday_message">I'm serious it's really cool...</p>
<p class="bday_message_large">Running tour of D.C. for two!!!</p>
<br>
<p>But seriously scope out the competition for us, and have fun. LOVE YOU! Happy Birthday favorite person.</p>
<br>
<%= image_tag('dc_tour.png', alt: 'Running Tour Image', style: 'display: block; margin: auto; width: 60%;')%>
<br>
<p><a target="_blank" href="https://www.cityrunningtours.com/washingtondc#group">Tour Options</a></p>
<br>
<%= image_tag('tour_options.png', alt: 'Tour Options', style: 'display: block; margin: auto; width: 60%;')%>
